<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Nome do Pet" %>
  </div>

  <div class="field">
    <%= form.label :birth_date, "Data nascimento" %>
    <%= form.date_select :birth_date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :breed, "Raça" %>
    <%= form.text_field :breed, class: "form-control", placeholder: "Raça do Pet" %>
  </div>

  <div class="field">
    <%= form.label :pet_kind, "Tipo" %>
    <%= form.text_field :pet_kind, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar Pet",  class: "btn btn-primary" %>
  </div>
<% end %>
