<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<div class="float-right">
  <%= link_to 'Novo Pet', new_pet_path, class: "btn btn-primary active" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data nascimento</th>
      <th scope="col">Raça</th>
      <th scope="col">Tipo</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.birth_date %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.pet_kind %></td>
        <td><%= link_to 'Prontuários', pet_medical_records_path(pet) %></td>
        <td><%= link_to 'Editar', edit_pet_path(pet) %></td>
        <td><%= link_to 'Remover', pet, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="float-right">
  <%= paginate @pets, window: 2 %>
</div>

