<%= form_with(model: @medical_record, url: [@pet, @medical_record], local: true) do |form| %>
  <% if @medical_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

      <ul>
        <% @medical_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Pet name</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= @pet.name %>">
    </div>
  </fieldset>

  <div class="field">
    <%= form.label :symptoms, "Sintomas" %>
    <%= form.rich_text_area :symptoms %>
  </div>

  <div class="field">
    <%= form.label :treatment, "Tratamento" %>
    <%= form.rich_text_area :treatment %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar prontuário", class: "btn btn-primary" %>
  </div>
<% end %>
